@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
  --navy-color: #242b64;
  --salmon-color: #fa8072;
  --platinum-color: #e5e4e2;
  --dark-gray: #525252;
  --medium-gray: #696969;
  --light-gray: #a3a3a3;
}

:root.dark {
  --border-button: 3px solid var(--salmon-color);
  --bg-color: #242b64;
  --text-color: #e5e5e5;
}

:root.light {
  --border-button: 3px solid #242b64;
  --bg-color: #e5e4e2;
  --text-color: #242b64;
}

/*GLOBAL*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: var(--bg-color);
}
.section{
  min-height: 100vh;
  width: 100vw;
  background-color: var(--bg-color)
}
button{
  cursor: pointer;
  border-radius: 4px;
}

/* TOGGLE THEME SLIDER */
.switch{
  position:fixed;
  display:inline-block;
  width: 60px;
  height: 34px;
  top: 1.3rem;
  right: 5rem;
}
.switch input{
  opacity:0;
  height:0;
  width:0;
}
.slider{
  position:absolute;
  cursor:pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-gray);
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s
}
.slider:before{
  position: absolute;
  content:"";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color:white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider{
  background-color: var(--navy-color);
}
input:focus + .slider{
  box-shadow: 10 20 30px cyan;
}
input:checked + .slider:before{
  -webkit-transform:translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
span{
  color: var(--salmon-color)
}
.contact-link{
  color: var(--salmon-color);
}

h2{
  color: var(--text-color);
  text-align: center;
  padding: 1.0rem;
}
.line{
  border-top: 3px solid var(--salmon-color);
  position: relative;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

  .contact, .cv{
    min-height: 25vh;
    background-color: var(--bg-color);
    width: 100vw;
  }

  .cv-section{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
  .top-button{
    height: 3.5rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 2% auto;
    border-radius: 5px;
    color: var(--text-color);
    border: 2px solid var(--salmon-color);
    background-color: var(--bg-color);
  }
  .top-button a{
    color: var(--text-color);
    width: inherit;
    height: inherit;
  }
  
  .top-button:hover{
    background-color: var(--salmon-color) ;
    transition: 0.25s ease-in-out;
    
  }
  .top-button a:hover{
    color: var(--salmon-color);
  }

.contact-section{
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact h4{
  color: var(--text-color);
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}
.contact-icons{
  font-size: 4rem;
  color: var(--text-color);
}

.contact-icons:hover{
  transform: rotate('20deg');
}

.footer{
  background-color: var(--bg-color);
}
.footer p{
  color: var(--text-color);
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
}


@media screen and (min-width: 550px) {
  /*GREETING*/
  .greeting{
    font-size: clamp(1rem, 1.5rem, 2rem);
    display:inline-block;
    height: 34px;
    position: fixed;
    left: 1.3rem;
    top: 1.3rem;
  }

  .hero{
    height: 91.5vh;
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--text-color)
  }
  .hero-one{
    margin-left: 5rem;
    font-size: 5rem;
    padding-bottom: 1.5rem;
  }
  .hero-two{
    margin-left: 5rem;
    padding-bottom: 30px;
    font-size: 1.75rem;
    font-weight: 500;
    width: 40rem;
  }

  .hero-button{
    margin-left: 5rem;
    padding: 0.50rem;
    border: 3px solid var(--salmon-color);
    background: transparent;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .hero-button:hover{
    background-color: var(--salmon-color) ;
    color: var(--platinum-color);
    transition: 0.25s ease-in-out;
  }
  
  .hero-button a{
    text-decoration: none;
    color:var(--text-color)
  }

  .about-section{
    margin-top: 100px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 5rem;
  }
 
  .image > img{
    outline-offset: 0.5rem;
    outline: 3px solid var(--salmon-color)
  }
  .profile-container {
    margin-left: 2.5rem;
    line-height: 1.5rem;
  }
  .profile-container h2 {
    text-align: left;
    margin-left: -1rem;
  }
  .profile-container p {
    width: 70%;
    font-size: 1.25rem;
    color: var(--text-color)
  }

  .cv-button{
    margin-top: 1rem;
    margin-right: 1rem;
    height: 3.5rem;
    width: 10rem ;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-color);
    border: 2px solid var(--salmon-color);
  }
  .cv-button a{
    color: var(--text-color);
    padding-top: 8px;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
  }

  .cv-button:hover{
    background-color: var(--salmon-color) ;
    transition: 0.25s ease-in-out;
  }
  .cv-button a:hover{
    color: var(--text-color);

  }

  
  .header{
    height: 80px;
    background-color: var(--dark-gray);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  .link-container button{
    background: transparent;
    border: none;
    height: 80px;
    
  }
  .link-container a{
    text-decoration: none;
    padding: 1.5rem;
    font-size: 1rem;
    color: var(--salmon-color);
  }
  
  .link-container button:hover{
    background-color: var(--medium-gray);
    
  }
  
  /*Project Section*/
  
  .section-center {
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 2rem;
    justify-items: center;
  }
  
  .project-item {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(1fr, 3fr));
    gap: 1rem;
    margin: 1rem 1rem 2rem 2rem;
    border: 2px solid var(--salmon-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 1.5rem;
    border-left: 8px solid var(--salmon-color);
  }
  
  .project-info h4{
    margin-top: 2rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--text-color);
    font-size: 1.5rem;
  }
  
  .project-image img{
    object-fit: cover;
    height: 250px;
    border-radius: 2%;
  }

  .project-text{
    color: var(--text-color);
    font-size: clamp(0.5rem, 3vw, rem);
    width: 30rem;
    max-height: 6rem;
  }

  .project-buttons button{
    margin: 1rem;
    padding: 0.50rem;
    border: 2px solid var(--salmon-color);
    font-size: 25px;
    font-weight: 500;
    background: none;
  }
  .project-buttons button:hover{
    background-color: var(--salmon-color) ;
    color: var(--text-color);
    transition: 0.25s ease-in-out;
  }

  .project-buttons a{
    color: var(--text-color);
    text-decoration: none;
  }
  
  .section-center {
    width: 90vw;
    grid-template-columns: 1fr 1fr;
  }

    /*Experience Section*/
  
    .experience-section{
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      height: 100vh;
    }
    
    .tech-icon{
      justify-content: space-around;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 1rem;
      font-size: 7rem;
      
    }
 
} 

/*MOBILE VIEW*/

@media screen and (max-width: 550px){
  html, body{
    overflow-x: hidden;
  }
  .switch {
    position: absolute;
    right: 1rem;
    top: 6rem;
  }
  /*GREETING*/
  .greeting{
    font-size: 1rem;
    position:absolute;
    display:inline-block;
    margin: 0 auto;
    height: 34px;
    top: 0.5rem;
    right: 9rem;
  }

  /*HERO SECTION*/
  .hero{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: var(--text-color)
  }
  .hero-one{
    font-size: 3rem;
    padding: 0 15px;
  }
  .hero-two{
    padding: 2rem 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    width: 20rem;
  }
 
  .hero-button{
    margin-left: 1rem;
    padding: 0.50rem;
    border: 2px solid var(--salmon-color);
    background: transparent;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .hero-button:hover{
    background-color: var(--salmon-color) ;
    color: var(--platinum-color);
    transition: 0.25s ease-in-out;
  }
  
  .hero-button a{
    text-decoration: none;
    color:var(--text-color)
  }


  /*HEADER*/

  .header{
    height: 80px;
    background-color: var(--dark-gray);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  .link-container button{

    background: transparent;
    border: none;
    height: 80px;
    
  }
  .link-container a{
    text-decoration: none;
    font-size: 1rem;
    padding: 0.125rem;
    color: var(--salmon-color);
  }
  
  .link-container button:hover{
    background-color: var(--medium-gray);
  }
    
  .sticky {
      position: fixed;
      top: 0;
      width: 100vw;
    }
    
    .sticky + .content {
      padding-top: 85px;
    }

  /*ABOUT SECTION*/

  .about-section{
    padding: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .profile{
    color: var(--text-color);
    font-size: 1.15rem;
    
  }

 
  .image > img{
    outline-offset: 0.5rem;
    outline: 3px solid var(--salmon-color)
  }
  .profile-container {
    margin-left: 2.5rem;
    line-height: 1.5rem;
  }
  .profile-container h2 {
    text-align: left;
    margin-left: -1rem;
  }
  .profile-container p {
    width: 90%;
    font-size: 1rem;
    color: var(--text-color)
  }

  .cv-button{
    margin-top: 0.5rem;
    margin-right: 0.25rem;
    height: 3.5rem;
    width: 10rem ;
    font-size: 2rem;
    text-align: center;
    border-radius: 5px;
    background-color: var(--bg-color);
    border: 2px solid var(--salmon-color);
  }
  .cv-button a{
    color: var(--text-color);
    padding-top: 8px;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  .cv-button:hover{
    background-color: var(--salmon-color) ;
    transition: 0.25s ease-in-out;
  }
  .cv-button a:hover{
    color: var(--text-color);

  }

  
  /*PROJECT SECTION*/

  
  
  .project-item {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1.25rem 0;
    padding-top: 2rem;
    border: 2px solid var(--salmon-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 1.5rem;
    border-left: 8px solid var(--salmon-color);
  }
  
  .project-info h4{
    margin: 1rem 0;
    text-align: center;
    text-transform: capitalize;
    color: var(--text-color);
    font-size: 30px;
  }
  
  .project-image img{
    object-fit: cover;
    height: 200px;
    border-radius: 2%;

  }

  .project-text{
    color: var(--text-color);
    font-size: 1rem;
    width: 30rem;
    max-height: 6rem;
  }

  .project-buttons button{
    margin-bottom: 1rem;
    padding: 0.50rem;
    border: 2px solid var(--salmon-color);
    font-size: 25px;
    font-weight: 500;
    background: none;
  }
  .project-buttons button:hover{
    background-color: var(--salmon-color) ;
    color: var(--text-color);
    transition: 0.25s ease-in-out;
  }

  .project-buttons a{
    color: var(--text-color);
    text-decoration: none;
  }
  h2{
    color: var(--text-color);
    text-align: center;
  }
  .line{
    border-top: 3px solid var(--salmon-color);
    position: relative;
  }
  
    .project-text{
      color: var(--text-color);
      padding-top: 10px;
      font-size: 20px;
      width: 90%;
      height: 100%;

    }
    .project-buttons button{
      margin-top: 2rem;
      padding: 0.50rem;
      border: 2px solid var(--salmon-color);
      font-size: 25px;
      font-weight: 500;
      background: none;
    }
    .project-buttons button:hover{
      background-color: var(--salmon-color) ;
      color: var(--platinum-color);
      transition: 0.25s ease-in-out;
    }
  
    .project-buttons a{
      color: var(--text-color);
      text-decoration: none;
    }

      /*EXPERIENCE SECTION*/
  
  .experience-section{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    
  }
  
  .tech-icon{
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    font-size: 4rem;
    
  }
  
    .contact{
      min-height: 15vh;
      background-color: var(--bg-color);
      width: 100vw;
    }
  
    .cv-section{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .top-button{
      height: 3.5rem;
      width: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      margin: 2% auto;
      border: 1px solid var(--salmon-color);
      border-radius: 5px;
      color: var(--text-color);
      background-color: var(--bg-color);
    }
    .top-button a{
      color: var(--text-color);
      width: inherit;
      height: inherit;
    }
    
    .top-button:hover{
      background-color: var(--salmon-color) ;
      transition: 0.25s ease-in-out;
      
    }
    .top-button a:hover{
      color: var(--salmon-color);
    }

  .contact-section{
    height: 15vh;
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
  }
  
  .contact h2{
    color: var(--text-color);
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
  }
  .contact-icons{
    font-size: 3rem;
    color: var(--text-color);
  }
  
  .contact-icons:hover{
    transform: rotate('20deg');
  }
  
 
}

